<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <script src="https://kit.fontawesome.com/ba25ab417c.js" crossorigin="anonymous"></script>

    <title>FPT Book</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/non-responsive.css" rel="stylesheet"/>

    <!-- data table -->
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="icon" href="/image/applie-touch-icon.png"/>
</head>

<body>
<div th:fragment="navbar">
    <div class="page-top"
         style="width: 100%; height: 10px; background-color: #008080;"></div>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" style="margin-left: 25px; margin-right: 15px;"> FPT Book</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown"><a th:href="@{/bookshelf}"
                                            class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false"><span
                            class="fa-solid fa-bars"></span> Category </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/bookshelf}"> All Books</a></li>
                            <li><a th:href="@{/searchByCategory(category='Programming')}" class="list-group-item">
                                Literary</a></li>

                            <li><a th:href="@{/searchByCategory(category='Engineering')}" class="list-group-item">
                                Language</a></li>

                            <li><a th:href="@{/searchByCategory(category='Fiction')}" class="list-group-item">Comic</a>
                            </li>

                            <li><a th:href="@{/searchByCategory(category='Management')}"
                                   class="list-group-item">Life</a></li>

                            <li><a th:href="@{/searchByCategory(category='Arts &amp; Literature')}"
                                   class="list-group-item">Science</a></li>


                        </ul>
                    </li>
                    <form class="navbar-form" th:action="@{/searchBook}" method="post">
                        <div class="form-group">
                            <input type="text" name="keyword" class="form-control"
                                   placeholder="Search by Title, Author ..."
                                   style="padding-right: 250px;margin-left: 10px;"/>
                        </div>

                        <button type="submit" class="btn btn-info btn-sm"><span
                                class="glyphicon glyphicon-search"></span>
                        </button>

                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/faq}"><span
                            class="fa-solid fa-question"></span> HELPS</a></li>
                    <li><a th:href="@{/shoppingCart/cart}"><span
                            class="glyphicon glyphicon-shopping-cart"></span> SHOPPING CART</a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}"><span
                            class="glyphicon glyphicon-user"></span> MY ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()"
                           th:href="@{/myProfile}"><span
                            class="glyphicon glyphicon-user"></span> MY ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span
                            class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block" style="margin-top: 50px; margin-bottom: 20px;">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div style="border-bottom-width: 50px;margin-bottom: 30px;padding-left: 0px;">
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-grayish"></i>FPT Book
                    </h6>
                    <p>
                        FPT is the best-selling e-commerce platform in Vietnam and Southeast Asia
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Category
                    </h6>
                    <p>
                        <a th:href="@{/searchByCategory(category='Programming')}" class="text-reset">Literary</a>
                    </p>
                    <p>
                        <a th:href="@{/searchByCategory(category='Engineering')}" class="text-reset">Language</a>
                    </p>
                    <p>
                        <a th:href="@{/searchByCategory(category='Fiction')}" class="text-reset">Comic</a>
                    </p>
                    <p>
                        <a th:href="@{/searchByCategory(category='Management')}" class="text-reset">Life</a>
                    </p>
                    <p>
                        <a th:href="@{/searchByCategory(category='Arts &amp; Literature')}"
                           class="text-reset">Sience</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Support
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pay policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Transit policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Warranty policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-grayish"></i> 117 Ngo Quyen, Son Tra, Da Nang</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-grayish"></i>
                        fptbook@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-grayish"></i> + 84 35 555 555</p>
                    <p><i class="fas fa-print me-3 text-grayish"></i> + 84 35 111 222</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


</div>


<div th:fragment="body-bottom-scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script th:src="@{/js/scripts.js}"></script>

    <!-- data table -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
</div>
</body>
</html>
